[merge]
	tool = fugitive
[user]
	name = John Gallagher
	email = john@synapticmishap.co.uk
[core]
	excludesfile = /Users/John/.gitignore_global
	editor = mvim -f
[color]
	ui = true
[help]
	autocorrect = 1
[pull]
	default = current
[push]
	default = current
[alias]
	test = "!gi() { curl -s https://www.gitignore.io/api/$@ ;}; gi"
[diff]
	tool = fugitive
[difftool]
	prompt = false
[mergetool]
	prompt = false
[mergetool "fugitive"]
	cmd = mvim -f -c \"Gvdiff\" \"$MERGED\"
[difftool "fugitive"]
	cmd = mvim -f -c \"Gvdiff\" \"$MERGED\"
