[merge]
	tool = opendiff
[user]
	name = John Gallagher
	email = john@synapticmishap.co.uk
[core]
	excludesfile = /Users/John/.gitignore_global
	editor = subl -w
[color]
	ui = true
[help]
	autocorrect = 1
[pull]
	default = current
[push]
	default = current
[alias]
	test = "!gi() { curl -s https://www.gitignore.io/api/$@ ;}; gi"
